:root {
  --primary-color: #007bff;
  --accent-color: rgb(180, 218, 255);
  --secondary-color: #11559d;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
}
